
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 15px;
}

body {
	color: white;
	background-color: rgb(27, 27, 27);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.poppins {
	font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #444444;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(27, 27, 27);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(80, 80, 80);
  }

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: rgb(0,80,160);
	}
}


@media only screen and (max-width: 600px) {
	body {
		min-width: 360px;
		width: 100vw;
	}
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@keyframes down {
    0%,60%,75%,90%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-3000px,0) scaleY(3);
        transform: translate3d(0,-3000px,0) scaleY(3)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0,25px,0) scaleY(.9);
        transform: translate3d(0,25px,0) scaleY(.9)
    }

    75% {
        -webkit-transform: translate3d(0,-10px,0) scaleY(.95);
        transform: translate3d(0,-10px,0) scaleY(.95)
    }

    90% {
        -webkit-transform: translate3d(0,5px,0) scaleY(.985);
        transform: translate3d(0,5px,0) scaleY(.985)
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.animate__down {
    animation-name: down
}

@keyframes rotateY {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg)
    }

    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: perspective(400px) rotateY(-20deg);
        transform: perspective(400px) rotateY(-20deg)
    }

    60% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg)
    }

    80% {
        -webkit-transform: perspective(400px) rotateY(-5deg);
        transform: perspective(400px) rotateY(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.animate__rotateY {
    animation-name: rotateY;
    backface-visibility: visible!important
}

@keyframes appear {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.55,.055,.675,.19);
        animation-timing-function: cubic-bezier(.55,.055,.675,.19);
        opacity: 0;
        -webkit-transform: scale3d(.1,.1,.1) translate3d(0,-1000px,0);
        transform: scale3d(.1,.1,.1) translate3d(0,-1000px,0)
    }

    60% {
        -webkit-animation-timing-function: cubic-bezier(.175,.885,.32,1);
        animation-timing-function: cubic-bezier(.175,.885,.32,1);
        opacity: 1;
        -webkit-transform: scale3d(.475,.475,.475) translate3d(0,60px,0);
        transform: scale3d(.475,.475,.475) translate3d(0,60px,0)
    }
}

.animate__appear {
    animation-name: appear
}